@import 'styles/mixins';

.heading {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.start {
	align-items: flex-start;
}

.center {
	align-items: center;
	text-align: center;

	.description {
		margin-inline: auto;
	}
}

.eyebrow {
	@include eyebrow;
}

.title {
	font-size: var(--fs-h2);
}

.description {
	max-width: 44rem;
	color: var(--text-muted);
	font-size: var(--fs-lg);
}
