@import 'styles/_variables';
.inputPaper {
	width: 100%;
	padding: 1rem 3rem;
	background-color: $snow;
	border-radius: 15px;
	h4 {
		color: $richBlack;
		font-weight: 500;
		font-size: 1.8rem;
		margin: 2rem 0;
		@media screen and (max-width: $md) {
			font-size: 1.6rem;
		}
	}
	.actions {
		display: grid;
		grid-template-columns: minmax(0, 1fr) 8rem;
		gap: 2rem;
		margin-bottom: 2.5rem;
		align-items: center;
		justify-content: center;
		input {
			background-color: transparent;
			border: 1px solid $richBlack;
			border-radius: 10px;
			color: $richBlack;
			padding: 1rem 2rem;
		}
		.submitButton {
			background-color: $richBlack;
			color: $snow;
			font-weight: 500;
			border-radius: 5px;
			height: 100%;
			&:hover {
				background-color: lighten($richBlack, 10%);
			}
		}
		.disabledButton {
			background-color: $richBlack;
			color: $snow;
			font-weight: 500;
			border-radius: 5px;
			opacity: 0.5;
			height: 100%;
			cursor: default;
		}
		.loadingContainer {
			margin: 0 auto;
			.spinner {
				stroke: $richBlack;
			}
		}
	}
}
