@import 'styles/_variables';
.root {
	display: grid;
	grid-template-rows: 3.5rem minmax(0, 1fr);
	height: 100vh;
	.header {
		background-color: $richBlack;
		border-bottom: 1px solid #ffffff90;
		display: flex;
		align-items: center;
		padding: 0.5rem 1rem;
		z-index: 1;
		.menuButton {
			svg {
				fill: $snow;
				width: 2rem;
				height: 2rem;
			}
		}
	}
	.main {
		position: relative;
	}
}
