@import 'styles/_variables';
.sidebarItem {
	display: grid;
	grid-template-columns: 3rem minmax(0, 1fr);
	align-items: center;
	width: 100%;
	padding: 1rem 3rem;
	align-items: center;
	background-color: $richBlack;
	color: $snow;
	fill: $snow;
	gap: 1.5rem;
	font-size: 1.8rem;
	text-align: left;
	svg {
		width: 3rem;
		height: 3rem;
		margin: 0 auto;
	}
	&:hover {
		background-color: lighten($richBlack, 5%);
	}
	p {
		overflow: hidden;
		white-space: nowrap;
		text-decoration: none;
	}
}
