@import 'styles/_variables';
.sidebarRoot {
	background-color: $richBlack;
	z-index: 3;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	position: absolute;
	top: -20px;
	left: 55px;
	border: 1px solid $snow;
	animation-fill-mode: forwards;
	.verticalBorder {
		width: 1px;
		background-color: transparentize($snow, 0.5);
		height: 100%;
		position: absolute;
		right: 0;
		padding: 2rem 0;
		background-clip: content-box;
		opacity: 0;
		transition: opacity 0.5s;
	}
	.divider {
		width: 100%;
		height: 1px;
		background-color: transparentize($snow, 0.5);
		margin-top: 3px;
		position: relative;
		.subtitle {
			color: $snow;
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 1;
			background-color: $richBlack;
			padding: 0.1rem 1.5rem;
		}
	}
	.sectionDivider {
		margin-top: 0.5rem;
		padding: 0 2rem;
		background-clip: content-box;
		font-size: 16px;
	}
	.pageSection {
		padding: 2rem 0;
	}
}
@keyframes openMenu {
	0% {
		width: 10rem;
		height: 10rem;
		opacity: 0;
		pointer-events: none;
	}
	100% {
		width: 20rem;
		height: 25rem;
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.sidebarOpen {
	animation: openMenu 0.3s;
	animation-fill-mode: forwards;
	div {
		opacity: 0;
	}
	div {
		animation: fadeIn 0.4s;
		animation-delay: 0.3s;
		animation-fill-mode: forwards;
	}
}
@keyframes closeMenu {
	0% {
		width: 20rem;
		height: 25rem;
		opacity: 1;
	}
	100% {
		width: 10rem;
		height: 10rem;
		opacity: 0;
		pointer-events: none;
	}
}

.sidebarClosed {
	animation: closeMenu 0.3s;
	animation-fill-mode: forwards;
}
.sidebarDefault {
	width: 10rem;
	height: 10rem;
	opacity: 0;
	pointer-events: none;
}
