@import 'styles/_variables';
.sidebarRoot {
	background-color: $richBlack;
	transition: width 0.5s;
	z-index: 3;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	position: relative;
	.verticalBorder {
		width: 1px;
		background-color: transparentize($snow, 0.5);
		height: 100%;
		position: absolute;
		right: 0;
		padding: 2rem 0;
		background-clip: content-box;
		opacity: 0;
		transition: opacity 0.5s;
	}
	.divider {
		width: 100%;
		height: 1px;
		background-color: transparentize($snow, 0.5);
		margin-top: 3px;
		position: relative;
		.subtitle {
			color: $snow;
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 1;
			background-color: $richBlack;
			padding: 0.1rem 1.5rem;
		}
	}
	.sectionDivider {
		margin-top: 3rem;
		padding: 0 2rem;
		background-clip: content-box;
	}
	.pageSection {
		padding: 2rem 0;
	}
}
.sidebarOpen {
	width: 30rem;
	.verticalBorder {
		opacity: 1;
	}
}
.sidebarClosed {
	width: 0rem;
}
