// Palette #1
$medPurple: #270722;
$darkPurple: #230621;
$deepChamp: #ecce8e;
$medChamp: #e0d6a4;
$laurGreen: #c2c6a7;
$opal: #9ac2c5;
$blueBlack: #141b2e;

// Palette #2
$richBlack: #040f16;
$byzantineBlue: #3454d1;
$lapis: #005e7c;
$blueNCS: #0094c6;
$blueSaph: #005e7c;
$snow: #fef9ef;
$beige: #222823;
