// Palette #1
$medPurple: #270722;
$darkPurple: #230621;
$deepChamp: #ecce8e;
$medChamp: #e0d6a4;
$laurGreen: #c2c6a7;
$opal: #9ac2c5;
$blueBlack: #141b2e;
$snow: #fffafb;

// Palette #2
$richBlack: #030c11;
$darkOxford: #000022;
$lightOxford: #001242;
$blueNCS: #0094c6;
$blueSaph: #005e7c;
$snow: #fffafb;
